{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/CombinedLogos.svg') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">A Combined effort of University Bayreuth and Wasser Wirtschaftsamt Ansbach </p>
  <a href="/Waterlevels/" class="dash-link">
    <span>To the app </span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
